/**** website used color ******/

$txt-color:#424242;
$blue:#0071C5;
$green:#0DA861;
$light-color:#FAFAFA;
$red-gradient:linear-gradient(208.53deg, rgba(255, 119, 89, 0.74) 32.19%, rgba(255, 106, 106, 0.89) 118.73%);
$blue-gradient:linear-gradient(208.53deg, rgba(89, 146, 255, 0.74) 32.19%, rgba(164, 162, 218, 0.89) 118.73%);
$green-gradient:linear-gradient(208.53deg, rgba(89, 255, 126, 0.74) 32.19%, rgba(107, 197, 138, 0.89) 118.73%);